h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none; /* Убираем маркеры списка */
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif; /* Шрифт для текста */
  color: #434455; /* Цвет текста */
  background-color: #ffffff; /* Цвет фона */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Базовые стили */
.container {
  width: 320px;
  margin: 0 auto; /* Центрирует контейнер */
  padding: 0 16px; /* Внутренние отступы по бокам */
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/*################HEADER#########################*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list,
.header__contact-info {
  display: none;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; /* Задаёт цвет текста */
}

.header__logo.logo-part {
  color: #2e2f42;
}

.logo {
  padding: 16px 0;
  display: block;
}

.burger-btm {
  padding: 0;
  color: transparent;
  border: none;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btm {
    display: none;
  }
  .header__nav-list {
    display: flex; /* Элементы списка будут расположены горизонтально */
    gap: 40px; /* Расстояние между пунктами меню */
    align-items: center;
  }
  .header__contact-info {
    font-style: normal;
    display: block;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__logo {
    padding: 24px;
    margin-right: 120px;
  }
  .header__nav-link {
    text-decoration: none;
    width: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative; /* Встановлюємо позицію відносно для псевдоелемента */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__nav-link.active {
    color: #404bbf; /* Изменение цвета текста */
  }
  .header__nav-link.active::after {
    content: ""; /* Псевдоелемент без контенту */
    position: absolute; /* Абсолютна позиція для підкреслення */
    left: 0; /* Вирівнюємо по лівому краю */
    bottom: -1px; /* Відстань до тексту */
    width: 100%; /* Ширина підкреслення дорівнює ширині тексту */
    height: 4px; /* Висота підкреслення */
    background-color: #404bbf; /* Колір підкреслення */
    border-radius: 2px;
  }
  .header__nav-link:hover,
  .header__nav-link:focus {
    color: #404bbf; /* Цвет при наведении и фокусе */
  }

  .header__contact-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .header__contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header__logo {
    margin-right: 76px;
  }
  .header__contact-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .header__contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* ##################MOBAIL_MENU######################### */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  stroke-width: 1px;
  stroke: #2e2f42;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: flex;
  justify-content: flex-start;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu--link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu--link.active {
  color: #404bbf;
}

.mobile-menu--link:hover,
.mobile-menu-link:focus {
  color: #404bbf; /* Цвет при наведении и фокусе */
}

.contact-info {
  font-style: normal;
  margin-bottom: 48px;
}
.contact-info__list {
  list-style: none;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link.active {
  color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf; /* Цвет при наведении и фокусе */
}

.social-links__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}
.social-links__item {
  width: 40px;
  height: 40px;
}
.social-links__link {
  background-color: #4d5ae5; /* Исходный синий фон */
  border-radius: 50%; /* Закругленные углы для круга */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover,
.social-links__link:focus {
  background-color: #31d0aa; /* Цвет при наведении */
}
.social-links__icon {
  height: 24px;
  width: 24px;
  fill: #f4f4fd; /* Цвет иконки */
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* №№№№№№№№№№№№№№№№№№№SECTION 1###################### */
.main-content__intro {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление */
  align-items: center; /* Центрируем элементы по горизонтали */
  justify-content: center; /* Центрируем элементы по вертикали */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover; /* изображение покрывает весь фон */
  background-position: center; /* центрирование изображения */
  background-repeat: no-repeat;
  min-width: 320px;
  margin: 0 auto;
}

.main-content__title {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  font-size: 36px; /* Укажите желаемый размер шрифта */
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 72px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.main-content__button {
  display: block;
  white-space: nowrap; /* Запретить перенос текста на новую строку */
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-content__button:hover,
.main-content__button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .main-content__intro {
    min-width: 768px;
    height: 436px;
  }

  .main-content__title {
    font-size: 56px; /* Укажите желаемый размер шрифта */
    margin-bottom: 36px;
    letter-spacing: 0.02em;
    line-height: 1.07143;
  }
  .main-content__button {
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1158px) {
  .main-content__intro {
    min-width: 1440px;
    height: 600px;
  }
  .main-content__title {
    margin-bottom: 48px;
  }
  .main-content__button {
    margin-bottom: 188px;
  }
}

/* #####################SECTION 2############################### */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-content__features {
  display: flex;
  justify-content: center; /* Центрирует секцию по горизонтали */
  max-width: 320px;
  margin: 0 auto; /* Центрирует секцию на странице */
}

.main-content__feature-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует элементы списка по горизонтали */
  margin: 96px 16px;
  gap: 72px;
}

.main-content__feature-item {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: ((calc 100%)/1);
  display: block;
}

.content-social-icon {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  color: white; /* Цвет текста */
  display: flex; /* Используем flex для центрирования текста */
  align-items: center;
  justify-content: center;
  opacity: 0; /* Скрыто по умолчанию */
  transition: opacity 0.3s ease; /* Плавный переход */
}
.main-content__feature-item:hover .overlay {
  opacity: 1; /* Показать при наведении */
}

.main-content__feature-title {
  text-align: center; /* Центрирует текст внутри элемента */
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-content__feature-description{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}


@media screen and (min-width: 768px) {
  .main-content__features {
    max-width: 768px;

  }

  .main-content__feature-list {
    gap: 72px;
    
  }
  .main-content__feature-item {
    flex: 1 1 calc(50% - 24px); /* Каждый элемент занимает 50% ширины минус отступ */
  }


  .main-content__feature-title {
    text-align: start;
  }
  .main-content__feature-description {
max-width: 356px;;
    text-align: start;
  }


}


@media screen and (min-width: 1158px) {

  .main-content__features {
    max-width: 1158px;
  }


  .main-content__feature-list {
    gap: 24px;

  }
  .main-content__feature-item {
    width: calc((100%-72px) / 4);
  }
  .content-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f4f4fd;
    border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  }
  .content-icon {
    width: 60;
  height: 64;
  }
  .main-content__feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  
  }
  .main-content__feature-description {
font-weight: 400;
  }

}