
.portfolio__groups {
  display: flex;
  flex-wrap: wrap; /* Позволяет группам переноситься на новую строку */
  justify-content: center; /* Центрирует группы */
}
.portfolio__group {
  display: flex;
  justify-content: center; /* Центрирует элементы внутри группы */
  padding-right: 24px;
  margin-bottom: 48px;
}
.portfolio__group-dva {
  display: flex;
  justify-content: center; /* Центрирует элементы внутри группы */
  padding-right: 24px;
}
/* От куда это  */

















/* ########################MODAL############################ */

























