.section {
  padding-top: 120px; /* Внутренний отступ сверху */
  padding-bottom: 120px; /* Внутренний отступ снизу */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif; /* Шрифт для текста */
  color: #434455; /* Цвет текста */
  background-color: #ffffff; /* Цвет фона */
}

/* Точка перелому 320px і більше */
@media (min-width: 320px) {
  body {
  
  }
}

/* Точка перелому 768px і більше */
@media (min-width: 768px) {
  body {
   
  }
}

/* Точка перелому 1158px і більше */
@media (min-width: 1158px) {
  body {
  
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto; /* Центрирует контейнер */
  padding: 0 15px; /* Внутренние отступы по бокам */
}
.header-container {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; /* Задаёт цвет текста */
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header__logo-part-white {
  text-decoration: none;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__nav-list {
  display: flex; /* Элементы списка будут расположены горизонтально */
  gap: 40px; /* Расстояние между пунктами меню */
  list-style: none; /* Убираем маркеры списка */
}

.header__nav-item {
}
.header__nav-item:last-child {
  margin-right: 0; /* Обнуляем отступ для последнего элемента */
}

.header__nav-link {
  text-decoration: none;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative; /* Встановлюємо позицію відносно для псевдоелемента */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.header__nav-link.active {
  color: #404bbf; /* Изменение цвета текста */
}
.header__nav-link.active::after {
  content: ''; /* Псевдоелемент без контенту */
  position: absolute; /* Абсолютна позиція для підкреслення */
  left: 0; /* Вирівнюємо по лівому краю */
  bottom: -1px; /* Відстань до тексту */
  width: 100%; /* Ширина підкреслення дорівнює ширині тексту */
  height: 4px; /* Висота підкреслення */
  background-color:  #404bbf; /* Колір підкреслення */
  border-radius: 2px;
}
.header__nav-link:hover,
.header__nav-link:focus {
  color: #404bbf; /* Цвет при наведении и фокусе */
}

.header__contact-info {
  font-style: normal;
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  height: 100%; /* Растягиваем на всю высоту, чтобы соответствовать логотипу и навигации */
}

.header__contact-list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.header__contact-item {
  display: flex;
  align-items: center;
  margin-right: 40px; /* Отступ между пунктами контактов */
}
.header__contact-item:last-child {
  margin-right: 0;
}
.header__contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header__contact-link:hover,
.header__contact-link:focus {
  color: #404bbf; /* Цвет при наведении и фокусе */
}
  /*************** section1 **************** */
.main-content__intro {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление */
  align-items: center; /* Центрируем элементы по горизонтали */
  justify-content: center; /* Центрируем элементы по вертикали */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover; /* изображение покрывает весь фон */
  background-position: center; /* центрирование изображения */
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  height: 600px;
  margin: 0 auto;

}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main-content__intro {
    background-image: url('../images-2/people-office.jpg');
  }
}

.main-content__title {
  display: flex;
  margin-bottom: 48px;
  font-size: 56px; /* Укажите желаемый размер шрифта */

  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.main-content__button {
  display: block;
  white-space: nowrap; /* Запретить перенос текста на новую строку */
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-content__button:hover,
.main-content__button:focus {
  background-color: #404bbf;
}

.main-content__features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-content__feature-list {
  display: flex;

  gap: 24px; /* Отступ между колонками, можно настроить */
  list-style: none;
}

.main-content__feature-item {
  position: relative; /* Позволяет абсолютное позиционирование для overlay */
  overflow: hidden; /* Скрывает лишнюю часть overlay */
  box-sizing: border-box; /* Учитывает padding и border в ширину */
  width: calc((100%-72px) / 4);
  
}
.content-social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #f4f4fd;
  border: 1px solid #8e8f99;
border-radius: 4px;
margin-bottom: 8px;
height: 112px;

}
.content-icon{
  
  width: 60;
  height: 64;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  color: white; /* Цвет текста */
  display: flex; /* Используем flex для центрирования текста */
  align-items: center;
  justify-content: center;
  opacity: 0; /* Скрыто по умолчанию */
  transition: opacity 0.3s ease; /* Плавный переход */
}

.main-content__feature-item:hover .overlay {
  opacity: 1; /* Показать при наведении */
}
.main-content__feature-title {
  margin-bottom: 8px; /* Отступ между заголовком и описанием */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-content__feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-content__team {
  background-color: #f4f4fd; /* Фон для родительского контейнера */
  padding: 120px 0;
}

.main-content__subtitle {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.main-content__team-list {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  gap: 24px; /* Отступ между колонками */
  list-style: none;
}
.main-content__team-list:last-child {
  margin-right: 0; /* Обнуляем отступ для последнего элемента */
}

.main-content__team-member {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.main-content__team-member:first-child {
  width: calc(
    (100% - 72px) / 4
  ); /* Применение стиля только к первому элементу */
  border-radius: 0px 0px 4px 4px;
}
.card-text {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование текста */
}

.main-content__team-img {
  max-width: 100%; /* Изображение не превышает ширину карточки */
  height: auto; /* Сохраняет пропорции изображения */
  background: url("path_to_image");
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
            0px 1px 1px rgba(46, 47, 66, 0.16), 
            0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.main-content__team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px; /* Отступ между именем и иконками */
}
.social-icons {
  display: flex;
  flex-direction: row; /* Горизонтальная компоновка иконок */
  justify-content: center;
  gap: 24px; 
}

.social-link {
width: 40px;
height: 40px;
  background-color: #4d5ae5; /* Исходный синий фон */
  border-radius: 50%; /* Закругленные углы для круга */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Плавный переход при наведении */
  width: 100%,
  height: 100%,
}

.social-link:hover
.social-link:focus {
  background-color: #404bbf; /* Цвет при наведении */
}

.icon {
  height: 16px;
  width: 16px;
  fill: #f4f4fd
}
.main-content__team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}


  /*************** section4 portfolio**************** */
.portfolio {
  padding: 120px 0;
}
.portfolio__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px; /* Добавляет отступ между заголовком и картинками */
}

.portfolio__image {
  display: block;
}

.portfolio__list {
  display: flex;
  justify-content: space-between; /* Центрирует список */
  column-gap: 24px;
  row-gap: 48px;
  list-style: none; /* Убирает маркеры списка */
  flex-wrap: wrap;
}
.portfolio__item {
  position: relative; /* Обязательно для правильного позиционирования оверлея */
  width: calc((100% - 48px) / 3);
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__item:hover .overlay-text {
  transform: translateY(0%);
}



.portfolio__item:nth-child(3n) {
  margin-right: 0; /* Убираем отступ для каждого третьего элемента */
  margin-bottom: 0;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;

}



.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  margin-top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio__groups {
  display: flex;
  flex-wrap: wrap; /* Позволяет группам переноситься на новую строку */
  justify-content: center; /* Центрирует группы */
}
.portfolio__group {
  display: flex;
  justify-content: center; /* Центрирует элементы внутри группы */
  padding-right: 24px;
  margin-bottom: 48px;
}
.portfolio__group-dva {
  display: flex;
  justify-content: center; /* Центрирует элементы внутри группы */
  padding-right: 24px;
}
.portfolio__image {
}
.portfolio__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio__item-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-card-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
/* **************FOOTER ********************/

.footer {
  padding: 100px 0;
  background: #2e2f42;
  justify-content: center; /* Центрирует контейнер по горизонтали */
}
.footer-container {
  display: flex; /* Применение flexbox */
  justify-content: flex-start; /* Распределение пространства между элементами */
  align-items: baseline, 
}
.footer-container-text{
  margin-right: 120px;

}

.footer__description {
  font-family: "Roboto", sans-serif;
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.footer__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5; /* Задаёт цвет текста */
  display: inline-block;
  margin-bottom: 16px;
}
.footer__logo_white {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-container-social {
  margin-right: 80px;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.footer-text-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;

 
}
.footer-icons {
  display: flex;
  flex-direction: row; /* Горизонтальная компоновка иконок */
  list-style-type: none; /* Убирает маркеры */
  justify-content: flex-start;
  gap: 16px; 
}
.footer-icon-link{
  width: 40px;
  height: 40px;
}

.footer-link {
  background-color: #4d5ae5; /* Исходный синий фон */
  border-radius: 50%; /* Закругленные углы для круга */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa; /* Цвет при наведении */
}
.footer-icon {
  height: 24px;
  width: 24px;
  fill: #f4f4fd  /* Цвет иконки */
}

.container_footer__text{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}
.footer__form{
  display: flex;
  gap: 24px;
}
.footer__form_input{
  height: 40px; 
  width: 264px;
 border: 1px solid #ffffff; 
 background-color:  transparent;
 font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em;
 padding-left: 16px; 
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
 border-radius: 4px; 
 color: #ffffff;
}
.footer__form_input::placeholder{
  color: #ffffff;
}

.footer__form_click{
  min-width: 165px; 
  height: 40px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5 ;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  border-radius: 4px; 
}

.icon_telegram{
  margin-left: 16px;
  fill: #ffffff;
}











/* ########################MODAL############################ */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
 }

.modal {
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  min-height: 584px;
  width: 408px;
  overflow-y: auto;
  background: #fcfcfc;
  display: flex;
flex-direction: column;
padding: 72px 24px 24px 24px;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-button{
  position: absolute;
  top: 24px; 
  right: 24px;
  width: 24px; 
  height: 24px;
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0; 
  cursor: pointer; 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-button:hover,
.container-button:focus {
  background-color: #404bbf;
  border: none;
}

button:hover > svg,
button:focus > svg {
fill: #ffffff;
}
.icon-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.container-modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.container-label{
  margin-bottom: 8px;
}
.comment{
  margin-bottom: 16px;
}

.container-textarea{
  width: 100%;
  height: 120px; 
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  padding: 8px 16px;
  outline: transparent; 
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-textarea:focus{
  border-color: #4D5AE5;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.container-input{
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent; 
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus + svg {
  border-color: #4D5AE5;
  }

.form-input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.icon-vector{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-vector:focus{
  fill: #4D5AE5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.form-container-checkbox{
  margin-bottom: 24px;
}

.container-checkbox-form{
  margin-bottom: 24px;
}
.container-text{
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
}
.container_text{
  width: 16px;
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  fill: transparent;
}

.icon-checkbox{
  display: flex;
 
}

input:checked + label > span {
  background-color: #404bbf;
  fill: #F4F4FD; 
  border: none;
  }
  input:focus + svg {
    fill:#4D5AE5;
    }
    input:focus {
      border-color:#4D5AE5;
      }
.container-link{
  color: #4d5ae5;
  }

  .form-button {
    display: block;
    border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  height: 56px;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
 margin-right: auto;
 margin-left: auto;
  }


  @media (min-width: 768px) {
    /* Стили для экранов 768px и больше */
  }
  
  @media (min-width: 1158px) {
    /* Стили для экранов 1158px и больше */
  }
  