



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none; /* Убираем маркеры списка */
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif; /* Шрифт для текста */
  color: #434455; /* Цвет текста */
  background-color: #ffffff; /* Цвет фона */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Базовые стили */
.container {
  width: 320px;
  margin: 0 auto; /* Центрирует контейнер */
  padding: 0 16px; /* Внутренние отступы по бокам */

}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/*################HEADER#########################*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list,
.header__contact-info {
  display: none;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; /* Задаёт цвет текста */
}

.header__logo.logo-part {
  color: #2e2f42;
}

.logo {
  padding: 16px 0;
  display: block;
}

.burger-btm {
  padding: 0;
  color: transparent;
  border: none;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btm {
    display: none;
  }
  .header__nav-list {
    display: flex; /* Элементы списка будут расположены горизонтально */
    gap: 40px; /* Расстояние между пунктами меню */
    align-items: center;
  }
  .header__contact-info {
    font-style: normal;
    display: block;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__logo {
    padding: 24px;
    margin-right: 120px;
  }
  .header__nav-link {
    text-decoration: none;
    width: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative; /* Встановлюємо позицію відносно для псевдоелемента */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__nav-link.active {
    color: #404bbf; /* Изменение цвета текста */
  }
  .header__nav-link.active::after {
    content: ""; /* Псевдоелемент без контенту */
    position: absolute; /* Абсолютна позиція для підкреслення */
    left: 0; /* Вирівнюємо по лівому краю */
    bottom: -1px; /* Відстань до тексту */
    width: 100%; /* Ширина підкреслення дорівнює ширині тексту */
    height: 4px; /* Висота підкреслення */
    background-color: #404bbf; /* Колір підкреслення */
    border-radius: 2px;
  }
  .header__nav-link:hover,
  .header__nav-link:focus {
    color: #404bbf; /* Цвет при наведении и фокусе */
  }

  .header__contact-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .header__contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header__logo {
    margin-right: 76px;
  }
  .header__contact-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .header__contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* ##################MOBAIL_MENU######################### */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  stroke-width: 1px;
  stroke: #2e2f42;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: flex;
  justify-content: flex-start;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu--link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu--link.active {
  color: #404bbf;
}

.mobile-menu--link:hover,
.mobile-menu-link:focus {
  color: #404bbf; /* Цвет при наведении и фокусе */
}

.contact-info {
  font-style: normal;
  margin-bottom: 48px;
}
.contact-info__list {
  list-style: none;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link.active {
  color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf; /* Цвет при наведении и фокусе */
}

.social-links__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}
.social-links__item {
  width: 40px;
  height: 40px;
}
.social-links__link {
  background-color: #4d5ae5; /* Исходный синий фон */
  border-radius: 50%; /* Закругленные углы для круга */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover,
.social-links__link:focus {
  background-color: #31d0aa; /* Цвет при наведении */
}
.social-links__icon {
  height: 24px;
  width: 24px;
  fill: #f4f4fd; /* Цвет иконки */
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* №№№№№№№№№№№№№№№№№№№SECTION 1###################### */
.main-content__intro {
  display: flex;
  flex-direction: column; /* Устанавливаем вертикальное направление */
  align-items: center; /* Центрируем элементы по горизонтали */
  justify-content: center; /* Центрируем элементы по вертикали */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover; /* изображение покрывает весь фон */
  background-position: center; /* центрирование изображения */
  background-repeat: no-repeat;
  min-width: 320px;
  margin: 0 auto;
}

.main-content__title {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  font-size: 36px; /* Укажите желаемый размер шрифта */
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 72px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.main-content__button {
  display: block;
  white-space: nowrap; /* Запретить перенос текста на новую строку */
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-content__button:hover,
.main-content__button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .main-content__intro {
    min-width: 768px;
    height: 436px;
  }

  .main-content__title {
    font-size: 56px; /* Укажите желаемый размер шрифта */
    margin-bottom: 36px;
    letter-spacing: 0.02em;
    line-height: 1.07143;
  }
  .main-content__button {
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1158px) {
  .main-content__intro {
    min-width: 1440px;
    height: 600px;
  }
  .main-content__title {
    margin-bottom: 48px;
  }
  .main-content__button {
    margin-bottom: 188px;
  }
}

/* #####################SECTION 2############################### */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-content__features {
  display: flex;
  justify-content: center; /* Центрирует секцию по горизонтали */
  max-width: 320px;
  margin: 0 auto; /* Центрирует секцию на странице */
  margin-bottom: 96px;
}

.main-content__feature-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует элементы списка по горизонтали */
  margin: 96px 16px;
  gap: 72px;
}

.main-content__feature-item {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: ((calc 100%)/1);
  display: block;
}

.content-social-icon {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  color: white; /* Цвет текста */
  display: flex; /* Используем flex для центрирования текста */
  align-items: center;
  justify-content: center;
  opacity: 0; /* Скрыто по умолчанию */
  transition: opacity 0.3s ease; /* Плавный переход */
}
.main-content__feature-item:hover .overlay {
  opacity: 1; /* Показать при наведении */
}

.main-content__feature-title {
  text-align: center; /* Центрирует текст внутри элемента */
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-content__feature-description{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: start;

}


@media screen and (min-width: 768px) {
  .main-content__features {
    max-width: 768px;

  }

  .main-content__feature-list {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-content__feature-item {
    width: calc((100% - 24px) / 2);
  }


  .main-content__feature-title {
text-align: start;
  }
  .main-content__feature-description {
text-align: start;

  }


}


@media screen and (min-width: 1158px) {

  .main-content__features {
    max-width: 1158px;
  }


  .main-content__feature-list {
    gap: 24px;
  }
  .main-content__feature-item {
    width: calc((100% - 72px) / 4);

  }
  .content-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f4f4fd;
    border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  }
  .content-icon {
    width: 60;
  height: 64;
  }
  .main-content__feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  
  }
  .main-content__feature-description {
font-weight: 400;
  }

}

/* ##########SECTION 3################# */

.main-content__team {
  background-color: #f4f4fd; /* Фон для родительского контейнера */
  overflow: hidden; /* Предотвращает схлопывание отступов */
  margin-top: 96px;
}

.main-content__subtitle {
  margin-top: 96px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.main-content__team-list {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  gap: 72px; /* Отступ между колонками */
  margin-bottom: 96px;
}

.main-content__team-list:last-child {
  margin-right: 0; /* Обнуляем отступ для последнего элемента */
}

.main-content__team-member {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.main-content__team-img {
  max-width: 100%; /* Изображение не превышает ширину карточки */
  height: auto; /* Сохраняет пропорции изображения */
  background: url("path_to_image");
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
            0px 1px 1px rgba(46, 47, 66, 0.16), 
            0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}


.card-text {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование текста */
}

.main-content__team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px; /* Отступ между именем и иконками */
}

.main-content__team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  flex-direction: row; /* Горизонтальная компоновка иконок */
  justify-content: center;
  gap: 24px; 
}

.social-link {
  width: 40px;
  height: 40px;
    background-color: #4d5ae5; /* Исходный синий фон */
    border-radius: 50%; /* Закругленные углы для круга */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Плавный переход при наведении */

  }

  .social-link:hover
.social-link:focus {
  background-color: #404bbf; /* Цвет при наведении */
}

.icon {
  height: 16px;
  width: 16px;
  fill: #f4f4fd
}


@media screen and (min-width: 768px) {

  .main-content__team-list {
    gap: 24 64px;
  }
  
}





@media screen and (min-width: 1158px) {
 
  .main-content__subtitle {
    margin-top: 120px;
  }
  .main-content__team-list {
    gap: 24px;
      margin-bottom: 120px;
   
  }
}


  /*************** section4 portfolio**************** */

  .portfolio {
   margin-top: 96px;
  }

  .portfolio__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px; /* Добавляет отступ между заголовком и картинками */
  }

  .portfolio__list {
    display: flex;
    justify-content: space-between; /* Центрирует список */
    row-gap: 72px;
    flex-wrap: wrap;
    margin-bottom: 96px;
  }

  .portfolio__item {
    position: relative; /* Обязательно для правильного позиционирования оверлея */
    width: (( calc 100% )/1);
      box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 
      0px 1px 6px rgba(46, 47, 66, 0.08), 
      0px 1px 1px rgba(46, 47, 66, 0.16), 
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio__item:hover .overlay-text {
    transform: translateY(0%);
  }

  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }

  .portfolio__image {
    display: block;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    margin-top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-card-text {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
  }

  .portfolio__item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio__item-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  @media screen and (min-width: 768px) {
    .portfolio__list {
      row-gap: 72px;
      column-gap: 24px;
    }
    .portfolio__item {
      width: calc((100% - 24px) / 2);
    }
  }


    @media screen and (min-width: 1158px) {
.portfolio__list {
  margin-bottom: 120px;
}
.portfolio__item {
  width: calc((100% - 48px) / 3);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0; /* Убираем отступ для каждого третьего элемента */
  margin-bottom: 0;
}
    }


    .footer {
      background: #2e2f42;
      display: flex;
      justify-content: center; /* Центрирует контейнер по горизонтали */
      align-items: center; /* Центрирует контейнер по вертикали */
      flex-direction: column; /* Ставит элементы по вертикали */
  }
  
  .footer-container {
      display: flex;
      flex-direction: column; /* Ставит элементы по вертикали */
      align-items: center; /* Центрирует элементы внутри контейнера по горизонтали */
  }
  

    .footer-container-text{
  margin-bottom: 72px;
  margin-top: 96px;
  margin-left: 16px;
  margin-right: 16px;
text-align: center;
    }
    

    .footer__logo {
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: #4d5ae5; /* Задаёт цвет текста */
      display: inline-block;
      margin-bottom: 17px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      text-transform: uppercase;

    }

    .footer__logo_white {
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #f4f4fd;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }

    .footer__description {
      font-weight: 400;
      font-size: 16px;
      color: #f4f4fd;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: start;
    }

    .footer-container-social {
      gap: 16px;
   

    }

    .footer-text-icons {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin-bottom: 16px;
      text-align: center; /* Центрирует текст внутри каждого элемента */
    }

    .footer-icons {
      display: flex;
      flex-direction: row; /* Горизонтальная компоновка иконок */
      list-style-type: none; /* Убирает маркеры */
      margin-left: 56px;
      margin-right: 56px;
      margin-bottom: 72px;
   gap: 16px; 
    }

    .footer-icon-link{
      width: 40px;
      height: 40px;
    }

    .footer-link {
      background-color: #4d5ae5; /* Исходный синий фон */
      border-radius: 50%; /* Закругленные углы для круга */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa; /* Цвет при наведении */
}

    .footer-icon {
      height: 24px;
      width: 24px;
      fill: #f4f4fd  /* Цвет иконки */
    }

    .conteiner_footer__form{
      display: flex;
      flex-direction: column; /* Элементы идут в колонку */
      align-items: center; /* Центрирует элементы формы */
      margin-bottom: 96px;
     
    }

   
    .container_footer__text{
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
   
    }

    .footer__form{
      display: flex;
      flex-direction: column; /* Элементы выстраиваются вертикально */
      align-items: center; /* Центрирует элементы по горизонтали */
      gap: 24px;
    }

    .footer__form_input{
      height: 40px; 
      width: 288px;
      border-radius: 4px;
     border: 1px solid #ffffff; 
     background-color:  transparent;
     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
     padding-left: 16px; 
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
     color: #ffffff;
    }

    .footer__form_input::placeholder{
      color: #ffffff;
    }

    .footer__form_click{
      border-radius: 4px;
      padding: 8px 24px;
      width: 165px;
      height: 40px;
      display: flex; 
      justify-content: center;
      align-items: center; 
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5 ;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background-color: #4D5AE5;
      border: none; 
     
    }

    .icon_telegram{
      margin-left: 16px;
      fill: #ffffff;
    }
    
    @media screen and (min-width: 768px) {

     

      .footer-container-text{
        margin-bottom: 72px;
        margin-top: 96px;
        margin-left: 108px;
        margin-right: 24px;
          }

          .footer-icons {
         margin-bottom: 104px;
          }

      
    }


    
    @media screen and (min-width: 1158px) {
      .footer {
        justify-content: center; /* Центрирует контейнер по горизонтали */
      }
      .footer-container {
        display: flex; /* Применение flexbox */
        justify-content: flex-start; /* Распределение пространства между элементами */
        align-items: baseline, 
      }
      .footer-container-text{
        margin-right: 120px;
      }
      
      
      
      
      .footer-container-social {
        margin-right: 80px;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
      }
      .footer__form{
        display: flex;
        gap: 24px;
      }
      
      .footer__form_input{
        width: 264px;
       font-size: 12px;
      }
    }
    
/* $$$$$$$$$$$$$$$$$$MODAL$$$$$$$$$$$$$$$$$$$$$$$ */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 .modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
 }


 .modal {
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  min-height: 623px;
  width: 288px;
  overflow-y: auto;
  background: #fcfcfc;
  display: flex;
flex-direction: column;
padding: 72px 24px 24px 24px;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-button{
  position: absolute;
  top: 24px; 
  right: 24px;
  width: 24px; 
  height: 24px;
  border-radius: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0; 
  cursor: pointer; 
  stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-button:hover,
.container-button:focus {
  background-color: #404bbf;
  border: none;
}

button:hover > svg,
button:focus > svg {
fill: #ffffff;
}

.container-modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}



.container-label{
  margin-bottom: 4px;
}

.comment{
  margin-bottom: 4px;
}

.container-textarea{
  width: 100%;
  height: 120px; 
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  padding: 8px 16px;
  outline: transparent; 
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.5;
}

.container-textarea:focus{
  border-color: #4D5AE5;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.container-input{
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent; 
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus + svg {
  border-color: #4D5AE5;
  }

.form-input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.icon-vector{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 13px;
  height: 13px;

}
.icon-vector:first-child{
  border: 1.25px solid #2e2f42;
  width: 18px;
  height: 0px;
  transform: rotate(-90deg);
}

.icon-vector:focus{
  fill: #4D5AE5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.form-container-checkbox{
  margin-bottom: 24px;
}

.container-checkbox-form{
  margin-bottom: 24px;
}
.container-text{
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
}
.container_text{
  width: 16px;
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  fill: transparent;
}

.icon-checkbox{
  display: flex;
 
}

input:checked + label > span {
  background-color: #404bbf;
  fill: #F4F4FD; 
  border: none;
  }
  input:focus + svg {
    fill:#4D5AE5;
    }
    input:focus {
      border-color:#4D5AE5;
      }
.container-link{
  color: #4d5ae5;
  }

  .form-button {
    display: block;
    border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
 margin-right: auto;
 margin-left: auto;
  }


  @media screen and (min-width: 768px) {

 .modal {

  min-height: 584px;
  width: 408px;
}

.form-input {
  padding-left: 19px;
}
  }

  
    @media screen and (min-width: 1158px) {

      .modal {
        min-height: 584px;
        width: 408px;
      }
      .form-input {
        padding-left: 38px;
      }

    }